<div class="container">
  <div class="row justify-content-center">
    <div class="mt-4 col-sm-12 col-lg-6">
      <h1><%= @item.name %></h1>

      <%= render 'form', item: @item %>
    </div>
  </div>
<hr>
  <%= link_to 'Back to My Items', my_items_path, class: "btn btn-default btn-lg" %>
</div>
