<h1>Stuff for rent</h1>

<ul>
  <% @items.each do |item| %>
          <li><%= link_to item.name, item, id: "link" %><%= link_to 'Edit', edit_item_path(item) %></li>

        <% end %>
</ul>

<%= link_to 'Add gear to lend', new_item_path %>
